---
import Footer from '../components/Footer.astro'
import { ViewTransitions, fade } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props

Astro.response.headers.set('Cache-Control', 'no-cache')
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/sourcesanspro-regular-400.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/sourcesanspro-semibold-600.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/sourcesanspro-bold-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/IBMPlexMono-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/IBMPlexMono-SemiBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/IBMPlexMono-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions transition:animate={fade({ duration: '0.1s' })} fallback="none" />
    <title>{title}</title>
    <script is:inline>
      function setTheme() {
        const theme =
          localStorage.getItem('theme') ||
          window.matchMedia('(prefers-color-scheme: dark)').matches
            ? 'dark'
            : 'light'

        document.documentElement.classList.add(theme)
      }

      setTheme()
      document.addEventListener('astro:after-swap', setTheme)
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/" class="decoration-none text-black font-bold text-[1.125rem]">
          Penis Reader™
        </a>
        <a href="/settings" class="w-8 h-8 rounded-[50%] bg-testing"></a>
      </header>
      <div class="h-full">
        <slot />
      </div>
      <Footer />
    </div>
    <style lang="scss">
      .wrapper {
        height: 100vh;
        display: grid;
        grid-template-rows: fit-content(100%) auto fit-content(100%);
      }

      header {
        width: 100%;
        height: 4rem;
        align-items: center;
        border-bottom: rgb(243 244 246) solid 1px;

        @apply flex flex-row justify-between px-[10.2vw] box-border;
      }
    </style>
    <style lang="scss" is:global>
      @font-face {
        font-display: swap;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/sourcesanspro-regular-400.woff2') format('woff2');
      }

      @font-face {
        font-display: swap;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/sourcesanspro-semibold-600.woff2') format('woff2');
      }

      @font-face {
        font-display: swap;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/sourcesanspro-bold-700.woff2') format('woff2');
      }

      @font-face {
        font-display: swap;
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2');
      }

      @font-face {
        font-display: swap;
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 500;
        src: url('/fonts/IBMPlexMono-Medium.woff2') format('woff2');
      }

      @font-face {
        font-display: swap;
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
      }

      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: 'Source Sans Pro', sans-serif;
        overflow-y: scroll;
      }

      @keyframes fadeSlideIn {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeSlideOut {
        from {
          opacity: 1;
          transform: translateX(0);
        }
        to {
          opacity: 0;
          transform: translateX(-20px);
        }
      }

      ::-webkit-scrollbar {
        width: 12px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #b6bcc3;
        border-radius: 14px;
        background-clip: content-box;
        border: 4px solid transparent;
      }

      // ::view-transition-group(*),
      // ::view-transition-old(*),
      // ::view-transition-new(*) {
      //   animation: none !important;
      // }

      // [data-astro-transition-scope] {
      //   animation: none !important;
      // }
    </style>
  </body>
</html>
